@import "./navBar.css";
@import "./address.css";


.footer {
    clear: both;
    display: flex;
    flex-direction: column;
    background-color: var( --footer_bg, white);
    color : var(--footer_fg, red);
    opacity: 1;
    WIDTH: 90%;
    PADDING: 20PX, 20PX,30PX,20PX;
    
    margin: 10PX, 10PX, 20PX, 10PX;
}

 